body {
    background-color: #151515;
    color: #eaeaea;
    font-family: monospace;
}

a {
    color: #63c0f5;
    text-shadow: 0 0 5px rgba(104,182,255,0.5);
}

#screen {
    background-color: white;
    outline: blue 3px solid;
}

.sprite {
    display: none;
}
